<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="180 seconds">



	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss} %-5level [%logger{36}] :: %msg%n</pattern>
		</layout>
	</appender>

	

	<logger name="org.springframework" level="INFO" />
	
	<logger name="jdbc"                level="OFF"/>
	<logger name="jdbc.connection"     level="OFF"/>
	<logger name="jdbc.audit"          level="OFF"/>
	<logger name="jdbc.sqlonly"        level="DEBUG"/>
	<logger name="jdbc.sqltiming"      level="OFF"/>
	<logger name="jdbc.resultset"      level="OFF"/>
	<logger name="jdbc.resultsettable" level="DEBUG"/>

	<logger name="org.mybatis"         level="DEBUG" />

	<logger name="ex.board.spring"     level="DEBUG" />



	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
	
	

</configuration>